@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #444444;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

/* Скрыть элемент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Кнопка*/
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #403a3a;
  text-decoration: none;
  text-transform: uppercase;
}

/*Большая кнопка*/
.button-big {
  font-size: 20px;
  line-height: 36px;
}

/* Навигационные кнопки */
.navigation {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  min-width: 1200px;
  /*min-height: 64px;*/ /*почему-то не работает?*/
  margin: 0 auto;
  flex-direction: row; /*направление оси*/
  justify-content: stretch; /*выравнивание вдоль главной оси*/
  align-items: flex-start; /*выравнивание поперечной оси*/
  flex-wrap: wrap; /*перенос элементов*/
}

.navigation-logo {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  min-width: 140px;
}

.navigation-list {
  margin: 0;
  margin-left: 28px;
  padding: 0;
  list-style-type: none;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-list-right {
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item-right {
  display: flex;
}

.navigation-item-right .navigation-link {
  min-width: 18px;
  min-height: 24px;
}

.button-navigation {
  margin: 0;
  padding: 8px 34px;
  background: #756157;
  border-radius: 4px;
  align-self: center;
}

/* Стартовый блок */
.main-container {
  padding-top: 51px;
  flex-grow: 1; /*что это?*/
}

.main-index {
  color: #000000;
  background-image: url(../images/main/mountains.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
}
.front-welcome-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 151px;
}
.front-divider-img {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}


/*Подпись под стартовым блоком*/

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-start-text {
  display: block;
  text-align: center;
}

.start-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.start-description {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Преимущества */
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-item {
  margin: 0;
  padding: 0;
  min-width: 400px;
  min-height: 384px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-1 {
  background-color: rgba(131, 179, 211, 0.12);
}
.color-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-1 {
  margin: 0;
  padding: 0;
  padding-top: 92px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-title-2 {
  margin: 0;
  padding: 0;
  padding-top: 102px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description-1 {
  margin: 0;
  padding: 0;
  padding-top: 62px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.advantages-description-2 {
  margin: 0;
  padding: 0;
  padding-top: 62px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-image {
  display: flex;
}

/* Доступный сервис */
.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.services-item {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/* Поиск гостиницы */
.search-hotels {
  margin: 0;
  padding: 0;
  display: block;
  height: 406px;
}

.search-hotels-title {
  margin: 0;
  padding: 0;
  margin-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-hotels-description {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search-hotels {
  margin: 0;
  padding: 0;
  margin-top: 62px;
  text-align: center;
}

/*Подписка*/
.subscribe-block {
  color: #000000;
  background-image: url(../images/main/subscribe-fon.jpg);
  margin: 0 auto;
  height: 415px;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0;
  padding: 0;
  margin-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

/* Подвал */
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-social-item {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 142px;
}

.footer-address {
  width: 720px;
}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}




/*Каталог*/
/*Фильтр поиска*/
.filter-container {
  display: flex;
}

.hotels-container {
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.filter-price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.inner-header {
  display: flex;
  flex-direction: row;
  background-image: url(../images/catalog/catalog-background.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  color: #000000;
}

/*Сортировка*/
.sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/*Карточки гостиниц*/
.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
  text-transform: capitalize;
}

.product-card-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-raiting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

/*Пагинация*/
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-hidden {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
