@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1280px;
  min-height: 100%;
}

/* Скрыть элемент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Кнопка*/
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  display: inline-block;
}

/* Навигационные кнопки */
.navigation {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  min-width: 1200px;
  margin: 0 auto;
  flex-direction: row; /*направление оси*/
  justify-content: stretch; /*выравнивание вдоль главной оси*/
  flex-wrap: wrap; /*перенос элементов*/
  position: relative;
  z-index: 1;
}

.navigation-logo {
  display: block;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  max-height: 64px; /*это неправильно*/
}

.navigation-list {
  margin: 0;
  margin-left: 28px;
  padding: 0;
  list-style-type: none;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-list-right {
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}

.navigation-item-right {
  display: flex;
}

.navigation-item-right:last-child {
  margin-left: 20px;
}

.navigation-item-right .navigation-link {
  min-width: 18px;
  min-height: 24px;
}

.navigation-user{
  display: block;
  width: 44px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}

.button-navigation {
  margin: 0;
  padding: 8px 34px;
  background: #756157;
  border-radius: 4px;
  align-self: center;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link-greencircle {
  position: relative;
}

.navigation-link-greencircle::after {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  content: "12";
  left: 20px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7DB54F;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стартовый блок */
.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  color: #000000;
}

.front-img {
  background-color: #756157;
  min-height: 485px;
  background-image: url(../images/main/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.front-img::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/main/divider.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 57px;
  background-size:cover;
}

.front-welcome-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}



/*Подпись под стартовым блоком*/
.page-start-text {
  margin-top: 69px;
  display: block;
  text-align: center;
}

.start-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.start-description {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Преимущества */
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
}

.advantages-item {
  margin: 0;
  padding: 0;
  width: calc(100%/3);
  min-height: 384px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.advantages-item:first-child::after {
  position: absolute;
  right: 170px;
  top: 178px;
  left: 170px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);;
  content: "";
}

.advantages-item:last-child::after {
  position: absolute;
  right: 170px;
  top: 178px;
  left: 170px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);;
  content: "";
}

.advantages-item::after {
  position: absolute;
  right: 170px;
  top: 178px;
  left: 170px;
  height: 2px;
  background-color:rgba(0, 0, 0, 0.3);;
  content: "";
}

.color-lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}
.color-verylightblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-white {
  margin: 0;
  padding: 0;
  padding-top: 92px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-title-black {
  margin: 0;
  padding: 0;
  padding-top: 102px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description-white {
  margin: 0;
  padding: 0;
  padding-top: 62px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.advantages-description-black {
  margin: 0;
  padding: 0;
  padding-top: 62px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-image {
  display: flex;
}

/* Доступный сервис */
.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.services-item {
  margin: 0;
  padding: 0;
  min-width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.icon-house {
  background-image: url(../images/main/icon-house.svg);
  background-size: 76px 72px;
  background-repeat: no-repeat;
  background-position: center top 80px;
}
.icon-food {
  background-image: url(../images/main/icon-food.svg);
  background-size: 75px 70px;
  background-repeat: no-repeat;
  background-position: center top 81px;
}
.icon-souvenir {
  background-image: url(../images/main/icon-souvenir.svg);
  background-size: 65px 76px;
  background-repeat: no-repeat;
  background-position: center top 78px;
}

.services-title {
  margin: 0;
  padding: 0;
  margin-top: 182px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/* Поиск гостиницы */
.search-hotels {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.search-hotels-title {
  margin: 0;
  padding: 0;
  margin-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-hotels-description {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search-container {
  margin: 0;
  padding: 0;
  margin-top: 62px;
  margin-bottom: 104px;
  text-align: center;
}

.button-search-hotels {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 50px;
  background-color: #756157;
  border-radius: 4px;
}

/*Подписка*/
.subscribe-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  background-image: url(../images/main/subscribe-fon.jpg);
  margin: 0 auto;
  min-height: 414px;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0;
  padding: 0;
  margin-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

/* Подвал */
.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-social-item {
  margin: 0;
  padding: 0;

}

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-social-link {
  display: block;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 40px;
}

.footer-social-vk {
  background-image: url("../images/footer/vk-logo.svg");
  background-size: 25px 15px;
}

.footer-social-telegram {
  background-image: url("../images/footer/telegram-logo.svg");
  background-size: 18px 16px;
}

.footer-social-youtube {
  background-image: url("../images/footer/youtube-logo.svg");
  background-size: 23px 18px;
}

.footer-social-htmlacademy {
  display: block;
  background-image: url("../images/footer/html-academy-logo.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  width: 115px;
  height: 34px;
}

/*Каталог*/
/*Фильтр поиска*/
/*Хэдэр*/


.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(../images/catalog/catalog-background.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  color: #000000;
}

.filter-header {
  margin: 35px 70px 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 1060px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-link {
  margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

/*формы*/
.filter {
  margin: 0 70px 70px 70px;
  padding: 0;
  min-width: 1060px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.filter-price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.filter-buttons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-filter-apply {
  margin: 0;
  margin-top: 56px;
  padding: 8px 50px;
  min-width: 190px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.button-filter-reset {
  margin: 0;
  padding: 8px 50px;
  margin-top: 32px;
  min-width: 190px;
  color: #FFFFFF;
  background-color: transparent;
  border: 0;
}

/*Сортировка*/
.sorting {
  margin: 50px 70px 40px;
  padding: 0;
  min-width: 1060px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sorting-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.buttons-view {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorting-view-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  margin-left: 8px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view-link-current {
  border-color: #000000;
}

/*Карточки гостиниц*/
.catalog-hotels {
  margin: 0 70px;
  padding: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3,340px);
  gap: 20px;
}

.product-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-card-info {
  display: grid;
  grid-template-columns: repeat(2,140px);
  gap: 16px 20px;
}

/*кнопки*/
.button-product-card {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

.button-detail {
  padding: 8px 25px;
  background: #756157;
  border-radius: 4px;
}

.button-favourites {
  padding: 8px 20px;
  border: none;
  background: #82B3D3;
  border-radius: 4px;
}
.button-favourites-on {
  padding: 8px 18px;
  border: none;
  background: #7DB54F;
  border-radius: 4px;
}
/*звёзды*/
.hotel-stars {
  min-width: 140px;
  min-height: 37px;
}

.four-stars{
  background-image: url(../images/catalog/stars-4.svg);
  background-repeat: no-repeat;
}
.three-stars {
  background-image: url(../images/catalog/stars-3.svg);
  background-repeat: no-repeat;
}
.two-stars{
  background-image: url(../images/catalog/stars-2.svg);
  background-repeat: no-repeat;
}

/*рейтинг*/
.hotel-raiting {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 37px;
  min-width: 140px;
  text-align: center;
  background: #F2F2F2;
  border-radius: 4px;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.product-card-title {
  margin: 16px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-price {
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-raiting {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

/*Пагинация*/
.pagination {
  margin: 80px 0 60px;
  padding: 0;
  min-width: 1060px;
  display: flex;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 24px;
  color: #FFFFFF;
  background-color: #82B3D3;
  min-width: 60px;
  min-height: 60px;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link:last-child {
  padding: 12px 18px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-hidden {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 16px 21px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*подписка*/
.subscribe-catalog {
  background-image: none;
  background-color: #FFFFFF;
}

.color-black {
  color: #000000;
}
